<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="guppytest1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.0383E-06 0.042158 0.00054643"
        rpy="0 0 0" />
      <mass
        value="12.294" />
      <inertia
        ixx="0.13673"
        ixy="5.9325E-09"
        ixz="1.7833E-09"
        iyy="0.20639"
        iyz="1.9121E-05"
        izz="0.11495" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.85882 0.85882 0.85882 0.1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="thruster0C_link">
    <inertial>
      <origin
        xyz="-0.006048 6.5742E-06 -0.00061572"
        rpy="0 0 0" />
      <mass
        value="0.17277" />
      <inertia
        ixx="0.00017671"
        ixy="3.0008E-08"
        ixz="1.0764E-07"
        iyy="0.00011805"
        iyz="1.1544E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster0C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster0C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster0C_joint"
    type="fixed">
    <origin
      xyz="-0.24536 0.27819 -0.019075"
      rpy="1.5708 0 -2.3562" />
    <parent
      link="base_link" />
    <child
      link="thruster0C_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster0M_link">
    <inertial>
      <origin
        xyz="-0.0060486 6.6279E-06 -0.0006157"
        rpy="0 0 0" />
      <mass
        value="0.17279" />
      <inertia
        ixx="0.00017671"
        ixy="3.015E-08"
        ixz="1.0751E-07"
        iyy="0.00011805"
        iyz="1.1828E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster0M_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster0M_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster0M_joint"
    type="fixed">
    <origin
      xyz="2.5E-05 0.2903 -0.013798"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="thruster0M_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster1C_link">
    <inertial>
      <origin
        xyz="-0.006048 6.5742E-06 -0.00061572"
        rpy="0 0 0" />
      <mass
        value="0.17277" />
      <inertia
        ixx="0.00017671"
        ixy="3.0008E-08"
        ixz="1.0764E-07"
        iyy="0.00011805"
        iyz="1.1544E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster1C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster1C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster1C_joint"
    type="fixed">
    <origin
      xyz="0.24536 0.27819 -0.019025"
      rpy="-1.5708 0 -0.7854" />
    <parent
      link="base_link" />
    <child
      link="thruster1C_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster1M_link">
    <inertial>
      <origin
        xyz="-0.0060486 6.628E-06 -0.0006157"
        rpy="0 0 0" />
      <mass
        value="0.17279" />
      <inertia
        ixx="0.00017671"
        ixy="3.0151E-08"
        ixz="1.0751E-07"
        iyy="0.00011805"
        iyz="1.1828E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster1M_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster1M_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster1M_joint"
    type="fixed">
    <origin
      xyz="0.2649 -2.5E-05 -0.013798"
      rpy="0 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="thruster1M_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster2C_link">
    <inertial>
      <origin
        xyz="-0.006048 6.6362E-06 -0.00061575"
        rpy="0 0 0" />
      <mass
        value="0.17277" />
      <inertia
        ixx="0.00017671"
        ixy="3.0068E-08"
        ixz="1.075E-07"
        iyy="0.00011805"
        iyz="1.1653E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster2C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster2C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster2C_joint"
    type="fixed">
    <origin
      xyz="0.24536 -0.27819 -0.019075"
      rpy="1.5708 0 0.7854" />
    <parent
      link="base_link" />
    <child
      link="thruster2C_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster2M_link">
    <inertial>
      <origin
        xyz="-0.0060486 6.628E-06 -0.0006157"
        rpy="0 0 0" />
      <mass
        value="0.17279" />
      <inertia
        ixx="0.00017671"
        ixy="3.0154E-08"
        ixz="1.0751E-07"
        iyy="0.00011805"
        iyz="1.1828E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster2M_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster2M_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster2M_joint"
    type="fixed">
    <origin
      xyz="-2.5E-05 -0.2903 -0.013798"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="thruster2M_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster3C_link">
    <inertial>
      <origin
        xyz="-0.006048 6.5742E-06 -0.00061572"
        rpy="0 0 0" />
      <mass
        value="0.17277" />
      <inertia
        ixx="0.00017671"
        ixy="3.0007E-08"
        ixz="1.0764E-07"
        iyy="0.00011805"
        iyz="1.1544E-08"
        izz="0.00011465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster3C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster3C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster3C_joint"
    type="fixed">
    <origin
      xyz="-0.24536 -0.27819 -0.019075"
      rpy="-1.5708 0 2.3562" />
    <parent
      link="base_link" />
    <child
      link="thruster3C_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thruster3M_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster3M_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://guppytest1/meshes/thruster3M_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thruster3M_joint"
    type="fixed">
    <origin
      xyz="-0.2649 2.5E-05 -0.013798"
      rpy="3.1416 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="thruster3M_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>